{% extends "emails/base.html" %}

{% block title %}
    Suspicious Activity
{% endblock %}

{% block content %}
    <h2>Suspicious Activity Alert</h2>
    <p>The following suspicious activities have been detected in the {{ site_name }} banking
        system:</p>
    <ul>
        {% for activity in suspicious_activities  %}
        	<li>{{ activity }}</li>
        {% endfor %}
    </ul>
    <p>Please investigate these activities immediately.</p>
    <p>This is an automated message. Do not relpy to this email.</p>

{% endblock %}