{% extends "emails/base.html" %}
{% load humanize %}

{% block title %}
	Withdrawal Confirmation
{% endblock %}

{% block content %}
    <h2>Withdrawal Confirmation</h2>
    <p>Dear {{ user }},</p>
    <p>We are writing to confirm that a withdrawal has been made from your account.</p>
    <p>Details of the transaction:</p>
    <ul>
        <li><strong>Withdrawal Amount:</strong> {{ currency }} {{ amount|intcomma }}</li>
        <li><strong>Account Number:</strong> {{ account_number }}</li>
        <li><strong>New Balance:</strong> {{ currency }} {{ new_balance|intcomma }}</li>
    </ul>
    <p>If you did not authorize this transaction of have any questions, please contact our
        customer support immediately.</p>
    <p>Thank you for banking with {{ site_name }}</p>
    <p>Best Regards, <br>{{ site_name }} Team</p>
{% endblock %}